.advantages {
  $corner-height: 5.714vw;

  position: relative;
  padding: 35px 0 calc($corner-height + 35px);
  color: $cl-white;
  background-color: $cl-blue;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: $corner-height;
    background-size: 100% 100%;
  }

  &::before {
    transform: translateY(1px);
    top: -$corner-height;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 10 10'%3E%3Cpath fill='none' d='M-1-1h12v12H-1z'/%3E%3Cg%3E%3Cpath d='M0 10h10V0L0 10z' fill='%230D5DA2' fill-rule='evenodd' /%3E%3C/g%3E%3C/svg%3E");
  }

  &::after {
    transform: translateY(-1px);
    bottom: -$corner-height;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0.00012207L0 0.000122945L8.74228e-07 10.0001L10 0.00012207Z' fill='%230D5DA2'/%3E%3C/svg%3E%0A");
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 80px;
  max-width: 750px;
  margin: auto;
  padding: 30px 0 0px;
  list-style: none;
}

.advantages__item {
  display: flex;
  align-items: center;
}

.advantages__item--upper {
  position: relative;
  top: -30px;
}

.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-right: 40px;
}

.advantages__title {
 font-size: 20px;
}

.advantages__decor-red {
  left: -53px;
  top: -70px;
}

.advantages__decor-green {
  right: 53px;
  bottom: -120px;
}

@media (max-width: 1323px) {
  .advantages__decor-red {
    left: calc($container-width/2 - 50vw + 8px);
  }
}

@media (max-width: $container-width) {
  .advantages__decor-red {
    left: 0;
    top: unset;
    bottom: -140px;
  }

  .advantages__decor-green {
    right: -20px;
    bottom: -450px;
  }
}

@media (max-width: 950px) {
  .advantages__decor-green {
    bottom: -850px;
  }
}

@media (max-width: 750px) {
  .advantages__list {
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 350px;
    padding: 20px 0;
  }

  .advantages__item--upper {
    top: 0;
  }
}

@media (max-width: 400px) {
  .advantages {

    &::before,
    &::after {
      display: none;
    }
  }

  .advantages__icon {
    margin-right: 20px;
  }

  .advantages__title {
    font-size: 18px;
  }
}

