.page-header {
  padding: 36px 0;
  background: $cl-silver;
}

.page__header__container {
  display: flex;
  justify-content: space-between;
}

.page-header__phone {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  margin-right: 50px;
}

.page-header__phone-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 51px;
  width: 51px;
  height: 51px;
  margin-right: 18px;
  color: $cl-orange;
  border: 2px solid $cl-orange;
  border-radius: 50%;
}

.page-header__phone-number {
  font-family: 'RobotoCondensed';
  font-weight: 700;
  font-size: 24px;
  color: $cl-black;
  transition: 0.2s color;

  &:hover {
    color: $cl-blue;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__contacts {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  font-family: 'RobotoCondensed';
}

.page-header__contact {
  display: flex;
  align-items: center;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.page-header__contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.page-header__contact-text {

}

@media (max-width: 920px) {
  .page-header__contacts {
    flex-direction: column;
  }

  .page-header__contact {
    margin-right: 0;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 635px) {
  .page__header__container {
    justify-content: center;
  }

  .page-header__contacts {
    display: none;
  }

  .page-header__phone {
    margin-right: 0;
  }

  .page-header__phone-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 30px;
    width: 30px;
    height: 30px;
    margin-right: 10px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .page-header__phone-number {
    font-weight: 400;
    font-size: 16px;
  }
}
