header.page__header.page-header
  .container.page__header__container
    .page-header__phone
      .page-header__phone-icon
        +svgSprite("phone", 27, 27)
      a.page-header__phone-number(href="tel:+73912037473") +7 (391) 203-74-73

    .page-header__contacts
      .page-header__contact
        .page-header__contact-icon
          +svgSprite("geo", 14, 20)
        .page-header__contact-text г. Красноярск, ул. Горького, 18
      .page-header__contact
        .page-header__contact-icon
          +svgSprite("time", 20, 20)
        .page-header__contact-text круглосуточно, без выходных
