doctype html
html(lang="ru")
  include data
  include mixins

  block config
    - var title = ""
    - var name = ""
    - var page = ""
    - var description = ""

  block head
    head
      include metrika.pug
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title #{title}
      link(rel="stylesheet", href="css/style.min.css")
      //- SEO Meta-data
      meta(name="description", content=description)
      //- Favicon
      link(rel="icon" href="favicon.svg")
      link(rel="apple-touch-icon" href="apple-touch-icon.png")
      //- Manifest
      link(rel="manifest", href="manifest.json")
      //- Metrika
  body
    .page
      block header
        include header
      block content
      block footer
        include footer

      .page__overlay.modal-form__wrapper.js-page-overlay
        .modal-form.js-order-form-modal
          button.modal-form__btn-close.js-close-modal-form
            span.visually-hidden Закрыть окно
            +svgSprite("close", 25, 25)

          - var formID = 2
          include ../blocks/order.pug

    script(src="js/app.min.js")
    block scripts
