section.advantages
  .container
    h2.visually-hidden Преимущества компании
    ul.advantages__list
      li.advantages__item
        .advantages__icon
          +svgSprite("delivery", 80, 67)
        p.advantages__title Доставим быстро<br>и в лучшем виде
      li.advantages__item.advantages__item--upper
        .advantages__icon
          +svgSprite("rub", 60, 60)
        p.advantages__title Гибкие<br>и доступные цены
      li.advantages__item
        .advantages__icon
          +svgSprite("team", 63, 66)
        p.advantages__title Проверенные<br>курьеры
      li.advantages__item.advantages__item--upper
        .advantages__icon
          +svgSprite("client", 72, 59)
        p.advantages__title Ваши покупатели<br>останутся довольны!
