mixin goods-item(imgname, text)
  li.goods__item
    +img({
      src: `img/goods/${imgname}.png`,
      width: "207",
      height: "166",
      alt: text,
      className: ".goods__item-image",
      x2: true,
      webp: true
    })
    .goods__item-text #{text}

section.goods
  .container.goods__container
    h2.goods__title Доставка для бизнеса и частных лиц
    ul.goods__list
      +goods-item("gift", "Подарки и сувениры")
      +goods-item("cloth", "Одежда")
      +goods-item("docs", "Документы")
      +goods-item("anything", "Что угодно")
    button.btn.goods__btn.js-open-modal-form Заказать звонок

