section.section
  .container
    h2 Привет
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia ipsa illo sapiente laudantium! Expedita quis natus tenetur eum rerum necessitatibus nihil, quas non! Dicta est, sapiente recusandae quibusdam repellat dolores.
