section.info
  .container.info__container
    .decor-elem.info__decor-blue
      +svgSprite("blue-3", 64, 67)

    h2.visually-hidden Условия доставки
    .info__map
      .info__map-image
        +img({
          src: "img/map.png",
          alt: "Карта России с выделенным Красноярским краем",
          width: "321",
          height: "189",
          webp: "true",
          x2: "true"
        })
      .info__map-text
        | Оперативная доставка по Красноярску – это к нам!
    .info__conditions
      ul.info__conditions-list
        li.info__conditions-item
          | Доставка малогабаритных грузов до 10 кг <br>(доп. стоимость за вес выше)
        li.info__conditions-item Цена услуги от 250 руб (наличный и безналичный расчёт)
        li.info__conditions-item Новая услуга! Выделяем курьера на смену за 3000 руб.
