extends common/layout

block config
  - var page = "index"
  - var title = "Бегущий Человек – курьерская служба в г. Красноярске"

block content
  include sections/main
  include sections/info
  include sections/advantages
  include sections/goods
